body{
    background-color:salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
  color: darkred;
  text-align:center;
}
h2{
  font-style:italic;
  color:red;
}
p{
  color:crimson

}